NEPREMICNINE_BOT_TOKEN=
NEPREMICNINE_CHAT_ID=
NEPREMICNINE_DB_PATH=./data/nepremicnine.sqlite3
NEPREMICNINE_POLL_MINUTES=15
NEPREMICNINE_BROWSER_COOKIES_PATH=./data/session-cookies.json
NEPREMICNINE_BROWSER_STORAGE_STATE_PATH=./data/storage-state.json
NEPREMICNINE_SEARCH_SOURCES_FILE=./data/search_sources.json
NEPREMICNINE_PROXY_FILE=./data/proxy.txt
